/*A pseudo-class selector is a way of accessing HTML items that aren't part of the document tree*/
a:hover {
  color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}
/*a:link: An unvisited link.
a:visited: A visited link.
a:hover: A link you're hovering your mouse over.*/
p:first-child {
    color: red;
}
/*apply on the p; apply styling to only the elements that are the first children of their parents.*/
p:nth-child(2) {
    color: red;
}
