div{
  /*position 属性规定元素的定位类型。*/
  position:/*absolute, relative, fixed or stastic*/
  /*absolute: 生成绝对定位的元素，相对于 static 定位以外的第一个父元素进行定位.
  relative: 生成相对定位的元素，相对于其正常位置进行定位.
  fixed: 生成绝对定位的元素，相对于浏览器窗口进行定位. */
  z-index: 1;
  /*z-index 属性设置元素的堆叠顺序。拥有更高堆叠顺序的元素总是会处于堆叠顺序较低的元素的前面。
  元素可拥有负的 z-index 属性值。
  Z-index 仅能在定位元素上奏效（例如 position:absolute;）*/
  }
