div{
    background-color:#cc0000;
    height:100px;
    width:100px;
    border-radius:5px;
    /*圓角*/
}
td{
    height:50px;
    border:1px dashed blue;
}
table{
    border:1px solid black;
}
a{
    color:#cc0000;
    text-decoration:none;
}
/*give links a little more custom flair*/
